<h1>Calendar</h1>

<div class="container">
  <div class="">
    <%#= simple_form_for(@timeslot) do |f| %>
      <%#= f.input :start_time %>
      <%#= f.input :end_time %>
      <%#= f.input :name %>
      <%#= f.submit %>
    <%# end %>
    <div class='js-draggable drag-event' data-event='{ "title": "Sheila", "duration": "01:00" }'>Sheila's Availability</div>

  </div>

  <div>

    <div class='js-calendar'
      data-event-start="<%= @event[:start] %>"
      data-event-end="<%= @event[:end] %>"
      data-timeslots="<%= @timeslots.to_json %>"
    ></div>

  </div>
</div>

